$adress_x = 245px
$adress_y = 160px
$adress_offset_x = -245px
$adress_offset_y = -160px
$adress_width = 21px
$adress_height = 29px
$adress_total_width = 266px
$adress_total_height = 262px
$adress_image = '../img/sprite.png'
$adress = 245px 160px -245px -160px 21px 29px 266px 262px '../img/sprite.png'
.icon-adress
  background-image url('../img/sprite.png')
  background-position -245px -160px
  width 21px
  height 29px

$chair_x = 203px
$chair_y = 160px
$chair_offset_x = -203px
$chair_offset_y = -160px
$chair_width = 42px
$chair_height = 36px
$chair_total_width = 266px
$chair_total_height = 262px
$chair_image = '../img/sprite.png'
$chair = 203px 160px -203px -160px 42px 36px 266px 262px '../img/sprite.png'
.icon-chair
  background-image url('../img/sprite.png')
  background-position -203px -160px
  width 42px
  height 36px

$chillout_x = 0px
$chillout_y = 242px
$chillout_offset_x = 0px
$chillout_offset_y = -242px
$chillout_width = 68px
$chillout_height = 20px
$chillout_total_width = 266px
$chillout_total_height = 262px
$chillout_image = '../img/sprite.png'
$chillout = 0px 242px 0px -242px 68px 20px 266px 262px '../img/sprite.png'
.icon-chillout
  background-image url('../img/sprite.png')
  background-position 0px -242px
  width 68px
  height 20px

$cloakroom_x = 44px
$cloakroom_y = 198px
$cloakroom_offset_x = -44px
$cloakroom_offset_y = -198px
$cloakroom_width = 42px
$cloakroom_height = 43px
$cloakroom_total_width = 266px
$cloakroom_total_height = 262px
$cloakroom_image = '../img/sprite.png'
$cloakroom = 44px 198px -44px -198px 42px 43px 266px 262px '../img/sprite.png'
.icon-cloakroom
  background-image url('../img/sprite.png')
  background-position -44px -198px
  width 42px
  height 43px

$dance_x = 0px
$dance_y = 110px
$dance_offset_x = 0px
$dance_offset_y = -110px
$dance_width = 68px
$dance_height = 88px
$dance_total_width = 266px
$dance_total_height = 262px
$dance_image = '../img/sprite.png'
$dance = 0px 110px 0px -110px 68px 88px 266px 262px '../img/sprite.png'
.icon-dance
  background-image url('../img/sprite.png')
  background-position 0px -110px
  width 68px
  height 88px

$device_x = 115px
$device_y = 110px
$device_offset_x = -115px
$device_offset_y = -110px
$device_width = 53px
$device_height = 70px
$device_total_width = 266px
$device_total_height = 262px
$device_image = '../img/sprite.png'
$device = 115px 110px -115px -110px 53px 70px 266px 262px '../img/sprite.png'
.icon-device
  background-image url('../img/sprite.png')
  background-position -115px -110px
  width 53px
  height 70px

$floor_x = 0px
$floor_y = 0px
$floor_offset_x = 0px
$floor_offset_y = 0px
$floor_width = 48px
$floor_height = 110px
$floor_total_width = 266px
$floor_total_height = 262px
$floor_image = '../img/sprite.png'
$floor = 0px 0px 0px 0px 48px 110px 266px 262px '../img/sprite.png'
.icon-floor
  background-image url('../img/sprite.png')
  background-position 0px 0px
  width 48px
  height 110px

$font_x = 248px
$font_y = 64px
$font_offset_x = -248px
$font_offset_y = -64px
$font_width = 18px
$font_height = 25px
$font_total_width = 266px
$font_total_height = 262px
$font_image = '../img/sprite.png'
$font = 248px 64px -248px -64px 18px 25px 266px 262px '../img/sprite.png'
.icon-font
  background-image url('../img/sprite.png')
  background-position -248px -64px
  width 18px
  height 25px

$mail_x = 112px
$mail_y = 89px
$mail_offset_x = -112px
$mail_offset_y = -89px
$mail_width = 24px
$mail_height = 20px
$mail_total_width = 266px
$mail_total_height = 262px
$mail_image = '../img/sprite.png'
$mail = 112px 89px -112px -89px 24px 20px 266px 262px '../img/sprite.png'
.icon-mail
  background-image url('../img/sprite.png')
  background-position -112px -89px
  width 24px
  height 20px

$man_x = 203px
$man_y = 64px
$man_offset_x = -203px
$man_offset_y = -64px
$man_width = 45px
$man_height = 48px
$man_total_width = 266px
$man_total_height = 262px
$man_image = '../img/sprite.png'
$man = 203px 64px -203px -64px 45px 48px 266px 262px '../img/sprite.png'
.icon-man
  background-image url('../img/sprite.png')
  background-position -203px -64px
  width 45px
  height 48px

$metro_x = 48px
$metro_y = 0px
$metro_offset_x = -48px
$metro_offset_y = 0px
$metro_width = 64px
$metro_height = 97px
$metro_total_width = 266px
$metro_total_height = 262px
$metro_image = '../img/sprite.png'
$metro = 48px 0px -48px 0px 64px 97px 266px 262px '../img/sprite.png'
.icon-metro
  background-image url('../img/sprite.png')
  background-position -48px 0px
  width 64px
  height 97px

$shower_x = 0px
$shower_y = 198px
$shower_offset_x = 0px
$shower_offset_y = -198px
$shower_width = 44px
$shower_height = 44px
$shower_total_width = 266px
$shower_total_height = 262px
$shower_image = '../img/sprite.png'
$shower = 0px 198px 0px -198px 44px 44px 266px 262px '../img/sprite.png'
.icon-shower
  background-image url('../img/sprite.png')
  background-position 0px -198px
  width 44px
  height 44px

$silence_x = 203px
$silence_y = 0px
$silence_offset_x = -203px
$silence_offset_y = 0px
$silence_width = 63px
$silence_height = 64px
$silence_total_width = 266px
$silence_total_height = 262px
$silence_image = '../img/sprite.png'
$silence = 203px 0px -203px 0px 63px 64px 266px 262px '../img/sprite.png'
.icon-silence
  background-image url('../img/sprite.png')
  background-position -203px 0px
  width 63px
  height 64px

$sofa_x = 133px
$sofa_y = 198px
$sofa_offset_x = -133px
$sofa_offset_y = -198px
$sofa_width = 67px
$sofa_height = 34px
$sofa_total_width = 266px
$sofa_total_height = 262px
$sofa_image = '../img/sprite.png'
$sofa = 133px 198px -133px -198px 67px 34px 266px 262px '../img/sprite.png'
.icon-sofa
  background-image url('../img/sprite.png')
  background-position -133px -198px
  width 67px
  height 34px

$sun_x = 112px
$sun_y = 0px
$sun_offset_x = -112px
$sun_offset_y = 0px
$sun_width = 91px
$sun_height = 89px
$sun_total_width = 266px
$sun_total_height = 262px
$sun_image = '../img/sprite.png'
$sun = 112px 0px -112px 0px 91px 89px 266px 262px '../img/sprite.png'
.icon-sun
  background-image url('../img/sprite.png')
  background-position -112px 0px
  width 91px
  height 89px

$tea_x = 86px
$tea_y = 198px
$tea_offset_x = -86px
$tea_offset_y = -198px
$tea_width = 47px
$tea_height = 43px
$tea_total_width = 266px
$tea_total_height = 262px
$tea_image = '../img/sprite.png'
$tea = 86px 198px -86px -198px 47px 43px 266px 262px '../img/sprite.png'
.icon-tea
  background-image url('../img/sprite.png')
  background-position -86px -198px
  width 47px
  height 43px

$waiter_x = 68px
$waiter_y = 110px
$waiter_offset_x = -68px
$waiter_offset_y = -110px
$waiter_width = 47px
$waiter_height = 70px
$waiter_total_width = 266px
$waiter_total_height = 262px
$waiter_image = '../img/sprite.png'
$waiter = 68px 110px -68px -110px 47px 70px 266px 262px '../img/sprite.png'
.icon-waiter
  background-image url('../img/sprite.png')
  background-position -68px -110px
  width 47px
  height 70px

$wc_x = 200px
$wc_y = 198px
$wc_offset_x = -200px
$wc_offset_y = -198px
$wc_width = 48px
$wc_height = 22px
$wc_total_width = 266px
$wc_total_height = 262px
$wc_image = '../img/sprite.png'
$wc = 200px 198px -200px -198px 48px 22px 266px 262px '../img/sprite.png'
.icon-wc
  background-image url('../img/sprite.png')
  background-position -200px -198px
  width 48px
  height 22px

$woman_x = 203px
$woman_y = 112px
$woman_offset_x = -203px
$woman_offset_y = -112px
$woman_width = 46px
$woman_height = 48px
$woman_total_width = 266px
$woman_total_height = 262px
$woman_image = '../img/sprite.png'
$woman = 203px 112px -203px -112px 46px 48px 266px 262px '../img/sprite.png'
.icon-woman
  background-image url('../img/sprite.png')
  background-position -203px -112px
  width 46px
  height 48px


spriteWidth($sprite) 
  width $sprite[4]


spriteHeight($sprite) 
  height $sprite[5]


spritePosition($sprite) 
  background-position $sprite[2] $sprite[3]


spriteImage($sprite) 
  background-image url($sprite[8])


sprite($sprite) 
  if !match('hover', selector()) && !match('active', selector())
    spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)

